
<div class="container">
  <h2 class="mt-5">Formulario</h2>
  <hr>
  <div class="">
    <form class="" action="" method="post">
      <mat-form-field class="">
         <input matInput placeholder="Name">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
         <input matInput placeholder="Weight">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
         <input matInput placeholder="Symbol">
      </mat-form-field>
      <div>
        <button mat-raised-button class="">Añadir Dato</button>
      </div>
    </form>
  </div>
</div>
